.dataTables_wrapper {
    margin-bottom: 50px;
}

.dataTables_wrapper select {
	padding: 0;
}

#crims_length {
	padding: 20px 0 0 20px;
}

#crims_filter {
	padding: 20px 20px 0 0;
}

#filtros a.landing-btn {
    width: 210px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 18px;
    font-family: 'WorkSans-Bold';
    color: #fff;
    background-color: #e01a4d;
    display: inline-block;
}

#filtros a.landing-btn.black {
	color: #fff;
    background-color: #000;
    width: auto;
}

#crims td span {
	display: none;
}

#crims thead th:first-of-type {
    padding: 5px;
}